@import 'https://fonts.googleapis.com/css?family=Open+Sans';

html, body {
  height: 100%;
  width: 100%;
}

.imgBanner {
	position: absolute:
	top: 0;
	right:0;
	left: 0;
	bottom: 0;
	margin: 20px 28px 20px 20px;
	border-radius: 5px;
	max-width: 80%;
	height: auto;
}
.navbar {
	overflow: hidden;
	position: fixed;
	top: 0;
	height: 80px;
	width: 100%;
	background-color: rgb(0,0,0,0.05);
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.center {
  position: absolute;
  margin: 0px 40px 40px 0px;
  right: 0;
  bottom: 0;
}

.menu {
  width: 40px;
  height: 40px;
}

.title {
  width: 300px;
  height: 10px;
  top: 60px;
}

.item {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  background-color: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}

i {
  font-size: 24px;
  color: #222222;
}

#top, #bottom, #left, #right {
	background: #808080;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }